.modal-body{
  color:white;
  background-color: #2e2b2b;
}
.modal-footer{
  color:white;
  background-color: #2e2b2b;
}
.modal-header{
  color:white;
  background-color: #2e2b2b;
}

.modal-content {
    color: #2e2b2b;
}